{% extends 'movies/base.html' %}

{% block content %}
<section class="change-pass py-5">
<div class="container">
    <h3 class="display-6 text-center text-white">Change password</h3>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post" class="rounded">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-info" type="submit">Change password</button>
            </form>
        </div>
    </div>
</div>
</section>
{% endblock %}