{% extends 'movies/base.html' %}

{% block content %}
    <section class="reset py-5">
        <div class="container">
            <h3 class="display-6 text-center text-white">password reset</h3>
            <div class="row col-md-6 offset-md-3">
                <p class="text-center text-white">Forgot your password? type in your email and we will send you the instructions to
                    reset it!.</p>
                <form method="post" class="rounded">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn btn-info">Send email</button>
                </form>
            </div>
        </div>
    </section>

{% endblock %}