{% extends 'movies/base.html' %}

{% block content %}
    <section class="login-page mb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <h1 class="display-6 text-center mt-5">Register</h1>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-info">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}