{% extends 'movies/base.html' %}
{% load static %}

{% block title %}Register{% endblock %}
{% block content %}
    <section class="login-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <h1 class="display-6 text-center mt-5 text-white">Register</h1>
                    <form method="post" class="rounded">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="mb-3">
                            <p>Already registered? <a href="{% url 'login' %}" class="text-info border-bottom">Login.</a></p>
                        </div>
                        <button type="submit" class="btn btn-warning rounded">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}